
<div id="friendModal" class="reveal-modal medium pagelinks">
    <p>@Resources.Strings.EnterFriend</p>
    <form id="friendForm">
        <input type="text" class="dummy hide" />
        <input type="text" id="friend" class="required" placeholder="@Resources.Strings.AddFriendPlaceHolder" />
        <a class="addFriend" href="">@Resources.Strings.AddFriend</a>
    </form>
</div>

<div id="photoModal" class="reveal-modal medium pagelinks">
     <p>@Resources.Strings.EnterPhoto</p>
     <form id="photoForm" name="photoForm">
        <input type="text" class="dummy hide" />
        <input type="text" id="photo_url" class="photo_url" placeholder="@Resources.Strings.UploadPhotoPlaceholder" />
        <a class="addPhoto" href="">@Resources.Strings.UploadPhoto</a>
    </form> 
</div>

<div id="eventModal" class="reveal-modal medium pagelinks">
     <p>@Resources.Strings.EnterEvent</p>
     <form id="eventForm" name="eventForm">
        <input type="text" class="dummy hide" />
        <input type="text" id="event_title" class="event_title" placeholder="@Resources.Strings.EventTitlePlaceholder" />
        <input type="datetime" id="event_start" class="event_start" placeholder="@Resources.Strings.EventStartPlaceholder" />
        <input type="datetime" id="event_end" class="event_end" placeholder="@Resources.Strings.EventEndPlaceholder" />
        <a class="addEvent" href="">@Resources.Strings.AddEvent</a>
    </form> 
</div>

<div id="stockModal" class="reveal-modal medium pagelinks">
     <p>@Resources.Strings.EnterStock</p>
    <form id="stockForm">
        <input type="text" id="symbol" class="required" placeholder="@Resources.Strings.Symbol" />
        <input type="text" id="numShares" placeholder="@Resources.Strings.NumShares" />
        <input type="text" id="price" placeholder="@Resources.Strings.BoughtPrice" />
        <a class="addStocks" href="">@Resources.Strings.AddStock</a>
    </form>
</div>