@{
    ViewBag.Title = @Resources.Strings.FreshFaceHome;
    Layout = "~/Views/Shared/_GridLayout.cshtml";
}

<!-- Start Row -->

<div class="row">

    <div class="three columns sidebar">

        <!-- Self Picture -->

        <div class="row">
            <!-- Hiding profile pic; can't think 
                    of a sensible way to display -->
            <div class="hide four columns centered ff-profile-pic"></div>
        </div>

        <!-- End Self Picture -->

        <!-- Calendar -->

        <section class="row">
            <h4>@Resources.Strings.MyEvents</h4>
            <div class="calendar"></div>
        </section>

        <!-- End Calendar -->
        


        <!-- FB Controls -->

        <section class="row">
            <h4>@Resources.Strings.MyActions</h4>
            <div class="actions">
                <div class="row"><a class="btn" href="">@Resources.Strings.AddFriend</a></div>
                <div class="row"><a class="btn" href="">@Resources.Strings.UploadPhoto</a></div>
                <div class="row"><a class="btn logout" href="">@Resources.Strings.Logout</a></div>
            </div>
        </section>

        <!-- End FB Controls -->

    </div>

<!-- News Feed -->

    <section class="seven columns">
        <h2>My News</h2>
        <div class="ff-feed-parent">
            <h3>@Resources.Strings.NewsBy<span class="ff ff-name">--</span></h3>
            
            <!-- Template for feed items:
            <article class="ff-feed-item">
                <h6 class="ff-feed-from">Brian Wyant</h6>:
                <p class="ff-feed-story">
                    Lots of text!
                </p>
            </article>
            <!-- End Template -->

        </div>
    </section>

    <!-- End News Feed -->

    <!-- Stock Ticker -->

    <section class="two columns sidebar side-right">
        <h4>@Resources.Strings.MyStocks</h4>
        <article>
            <div>NASDAQ:GOOG</div>
        </article>
    </section>

    <!-- End Stock Ticker -->

</div>

<!-- End Row -->

<div id="fb-root"></div>
<script>
window.fbAsyncInit = function () {
    FB.init({
        appId      : "@ViewBag.AppID",
        status     : true, 
        cookie     : true,
        xfbml      : true,
        oauth      : true,
    });
    $(".logout").click(function (event) {
        FB.logout(function (response) {
            FreshFace.logOff();
        });
        event.preventDefault();
    });
    FB.getLoginStatus(function (logResp) {
        if (logResp.status === 'connected') {
            // Do stuff that we need to be logged in to do
            Debug.log("Logged in!  Can do stuff now.");

            FB.api('/me', function (apiResp) {
                var uName = apiResp.name;
                Debug.log("User name: " + uName);
                $(".ff-name").html(uName);
            });
            FB.api('/me/picture', function (apiResp) {
                Debug.log("Profile pic url: " + apiResp);
                var img = '<img class="centered" src="' + apiResp + '"></img>';
                $(".ff-profile-pic").html(img);
            });
            FB.api('/me/feed', function (apiResp) {
                var feedPar = $(".ff-feed-parent");
                Debug.log("User's feed: " + apiResp);
                $(apiResp.data).each(function (index, post) {
                    // A post should have:
                        // post.from.name
                        // post.story
                        // and others!

                    var article = document.createElement("article");
                    var from = document.createElement("h6");
                    var story = document.createElement("p");

                    article.class = "ff-feed-item";
                    from.class = "ff-feed-from";
                    story.class = "ff-feed-story";

                    $(from).html("By " + post.from.name + ":");
                    $(story).html(post.story);

                    $(article).append(from).append(story);
                    $(feedPar).append(article);
                });
            });
        } else {
            Debug.log("Logging out, FB has decided we're done.");
            FreshFace.logOff();
        }
    });
};
(function(d){
    var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/en_US/all.js";
    d.getElementsByTagName('head')[0].appendChild(js);
}(document));
</script>