@{
    ViewBag.Title = @Resources.Strings.FreshFaceHome;
    Layout = "~/Views/Shared/_GridLayout.cshtml";
}

<!-- Start Row -->

<div id="myModal" class="reveal-modal pagelinks">
     <p>@Resources.Strings.EnterFriend</p>
     <form name="add_friend" action="" method="get">
        <input type="text" class="friend_email" />
        <a class="addFriend" href="">@Resources.Strings.AddFriend</a>
    </form> 
</div>

<div id="photoModal" class="reveal-modal pagelinks">
     <p>@Resources.Strings.EnterPhoto</p>
     <form id="photoForm" name="photoForm" action="" method="post">
        <!--<input id="source" name="source" type="file" />-->
        <!--<input type="submit" value="@Resources.Strings.UploadPhoto" />-->
        <input type="text" class="photo_url" />
        <a class="addPhoto" href="">@Resources.Strings.UploadPhoto</a>
    </form> 
</div>

<div class="row">

    <div class="three columns sidebar">

        <!-- Self Picture -->

        <div class="row">
            <!-- Hiding profile pic; can't think 
                    of a sensible way to display -->
            <div class="hide four columns centered ff-profile-pic"></div>
        </div>

        <!-- End Self Picture -->

        <!-- Calendar -->

        <section class="row">
            <h4>@Resources.Strings.MyEvents</h4>
            <div class="calendar"></div>
        </section>

        <!-- End Calendar -->
        


        <!-- FB Controls -->

        <!-- Actions are moved to the header bar
        <section class="row">
            <h4>@Resources.Strings.MyActions</h4>
            <div class="pagelinks">
                <div class="row"><a class="btn" href="">@Resources.Strings.AddFriend</a></div>
                <div class="row"><a class="btn" href="">@Resources.Strings.UploadPhoto</a></div>
                <div class="row"><a class="btn logout" href="">@Resources.Strings.Logout</a></div>
            </div>
        </section>
        -->

        <!-- End FB Controls -->

    </div>

<!-- News Feed -->

    <section class="six columns">
        <h2>@Resources.Strings.MyNews</h2>
        <span class="pagelinks">
            @Resources.Strings.MyStatus<input class="status" type="text" /> <a class="post" href="">@Resources.Strings.Post</a>
        </span>
        <h3>@Resources.Strings.NewsBy<span class="ff ff-name">--</span></h3>
        <div class="ff-feed-parent normlinks">
            
            <!-- Template for feed items:
            <article class="ff-feed-item">
                <h6 class="ff-feed-from">Brian Wyant</h6>:
                <p class="ff-feed-story">
                    Lots of text!
                </p>
            </article>
            <!-- End Template -->

        </div>
    </section>

    <!-- End News Feed -->

    <!-- Stock Ticker -->

    <section class="three columns sidebar side-right">
        <h4>@Resources.Strings.MyStocks</h4>
        <div>

            <table id="stocks" class="normlinks">
            <tr>
                <th>@Resources.Strings.StockName</th><th>@Resources.Strings.StockPrice</th><th>@Resources.Strings.StockChange</th>
                <th> </th>
            </tr>
            </table> 
            <span class="pagelinks">
                <input class="stockname" type="text" /> <a class="addStock" href="">@Resources.Strings.AddStock</a>
            </span>
        </div>
    </section>

    <!-- End Stock Ticker -->

</div>

<!-- End Row -->

<div id="fb-root"></div>
<script>
window.fbAsyncInit = function () {
    FB.init({
        appId      : "@ViewBag.AppID",
        status     : true, 
        cookie     : true,
        xfbml      : true,
        oauth      : true,
        fileUpload : true,
        uploadFile : true
    });
    FB.Event.subscribe('auth.statusChange', function (response) {
        if (!response.authResponse) {
            Debug.log("FB has likely timed us out, log out.");
            FreshFace.logOff();
        }
    });
    $(".logout").click(function (event) {
        FB.logout(function (response) {
            FreshFace.logOff();
        });
        event.preventDefault();
    });
    var postStatus = function (msg) {
        $(".status").val("");
        var data = {
            message: msg
        };
        FB.api('/me/feed', 'post', data, function (resp) {
            if (!resp || resp.error) {
                Debug.log("FB post error.");
            } else {
                Debug.log("FB responded to status post.");
                Debug.log(resp);
                var _index = resp.id.indexOf("_");
                var postId = resp.id.substr(_index + 1);

                FB.api('/' + postId, function (postData) {
                    Debug.log("And the data is...");
                    Debug.log(postData);

                    FreshFace.prependPost($(".ff-feed-parent"), postData);
                });
            }
        });
    }
    var addFriend = function(username) {
        FB.ui({ method: 'friends.add', id: username, display: 'popup' });
    }
    $(".post").click(function (event) {
        Debug.log("Posting to FB: " + $(".status").val());
        postStatus($(".status").val());
        event.preventDefault();
    });
    $(".addStock").click(function (event) {
        var name = $(".stockname").val();
        if (name.length >= 3 && name.length <= 6) {
            FreshFace.addStock(name.toUpperCase());
        }
    });
    $(".addFriend").click(function (event) {
        var friend = $(".friend_email").val();
        addFriend(friend);
        $("#myModal").hide();
    });
    $(".addPhoto").click(function (event) {
        //var album = $(".photo_album").val();
        var photo = $(".photo_url").val();
        var data = {
            url: photo
        };
        //Debug.log($("#photoForm").serialize());
        FB.api("/me/photos", "post", data, function (resp) {
            Debug.log("Posted photo, resp:");
            Debug.log(resp);

            FB.api('/' + resp.id, function (postData) {
                Debug.log("And the data is...");
                Debug.log(postData);

                FreshFace.prependPost($(".ff-feed-parent"), postData, "photo");

                $("#photoModal").trigger("reveal:close");
            });
        });
        event.preventDefault();
    });
    $(".status").keyup(function (event) {
        // On enter key
        if (event.keyCode == 13) {
            Debug.log($(this));
            Debug.log($(this).val());
            postStatus($(this).val());
        }
    });
    FB.getLoginStatus(function (logResp) {
        if (logResp.status === 'connected') {
            // Do stuff that we need to be logged in to do
            Debug.log("Logged in!  Can do stuff now.");
            Debug.log(logResp);

            FB.api('/me', function (apiResp) {
                var uName = apiResp.name;
                Debug.log("User name: " + uName);
                Debug.log(apiResp);

                var fb_url = "https://graph.facebook.com/";
                fb_url += apiResp.id;
                var photoUrl = fb_url + "/albums";
                photoUrl += "?access_token=" + logResp.authResponse.accessToken;
                photoUrl += "&app_id=" + "@ViewBag.AppID";
                photoUrl += "&method=post";
                photoUrl += "&sdk=joey";
                photoUrl += "&pretty=0";
                $("#photoForm").attr("action", photoUrl);
                //$("#photoForm").ajaxForm(function (photoResp) {
                //    Debug.log(photoResp);
                //});
                $(".ff-name").html(uName);
            });
            FB.api('/me/picture', function (apiResp) {
                Debug.log("Profile pic url: " + apiResp);
                var img = '<img class="centered" src="' + apiResp + '"></img>';
                $(".ff-profile-pic").html(img);
            });
            FB.api('/me/home', {limit: 10}, function (apiResp) {
                var feedPar = $(".ff-feed-parent");
                Debug.log("User's feed: " + apiResp);
                $(apiResp.data).each(function (index, post) {
                    //if (index >= 10) { // TODO: this is not the optimal way to limit the number of news articles...
                    //    return;
                    //}
                    
                    FreshFace.appendPost(feedPar, post);
                });
            });
        } else {
            Debug.log("Logging out, FB has decided we're done.");
            FreshFace.logOff();
        }
    });
};
(function(d){
    var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/en_US/all.js";
    d.getElementsByTagName('head')[0].appendChild(js);
}(document));
</script>