@{
    ViewBag.Title = @Resources.Strings.MyStocks;
    Layout = "~/Views/Shared/_GridLayout.cshtml";
}

@Html.Partial("_ModalHTMLPartial")

<div id="editModal" class="reveal-modal medium pagelinks">
     <p>@Resources.Strings.EnterStock</p>
     <form id="editForm" name="stockForm" action="" method="post">
        <input type="text" id="esymbol" disabled="disabled" />
        <input type="text" id="enumShares" class="required" placeholder="@Resources.Strings.NumShares" />
        <input type="text" id="eprice" class="required" placeholder="@Resources.Strings.BoughtPrice" />
        <a class="editStocks" href="">@Resources.Strings.EditStock</a>
    </form> 
</div>

<!-- Start Row -->

<div class="row">
    <!-- Stock Ticker -->

    <section class="twelve columns">
        <h4>@Resources.Strings.MyStocks</h4>
        <div>

            <table id="stockTable" class="normlinks">
            <tr>
                <th>@Resources.Strings.StockName</th><th>@Resources.Strings.CurrentPrice</th><th>@Resources.Strings.TodayChange</th><th>@Resources.Strings.NumShares</th><th>@Resources.Strings.PaidShare</th><th>@Resources.Strings.NetValue</th><th></th>
                <th> </th>
            </tr>
            </table> 
            <span class="pagelinks">
                <a class="addStock" href="#" data-reveal-id="stockModal">@Resources.Strings.AddStock</a>
            </span>
        </div>
    </section>

    <!-- End Stock Ticker -->
</div>

<div class="row">
    <!-- Stock Information -->

    <section class="twelve columns">
        <hr />
        <h4>More Information</h4>
        <div>
        <!--
            <table id="stockInfo" class="normlinks">
            <tr>
                <th style="font-size:large">@Resources.Strings.StockName</th>
                <th style="font-size:large">$500.52</th>
            </tr>
            </table> 
            -->
        </div>
    </section>

      <!-- End Stock Information -->
</div>


<div id="fb-root"></div>
@section fb_init {
    @RenderPage("~/Views/Shared/_FBLoggedIn.cshtml", 
        new {
            fb_ready = "~/Views/Home/_MyStocks_fb_ready.cshtml",
            fb_onauth = "~/Views/Home/_MyStocks_fb_onauth.cshtml"
        })
}